:root {
  --primary: #000000;
  /* (0, 0, 0) */
  --secondary: #8f8f8f;
  /* (143,143,143) */
  --secondary-light: #dad5d5;
  /* (218, 213, 213) */
  --tertiary: #1976d2;
  /* (25, 118, 210) */
  --dark: #222222;
  /* (34,34,34) */
  --light: #f7f7f7;
  /* (247, 247, 247) */
  --fire-light: #ffdb00;
  /* (255, 219, 0) */
  --fire-medium: #f4811e;
  /* (244, 129, 30) */
  --fire-dark: #ef4136;
  /* (239, 65, 54) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arsenal', sans-serif;
}

h1 {
  font-size: 40px;
  margin: 16px 0;
}

/* --------------------- ClassNames --------------------- */

/* .avatar {
  width: 60px;
  height: auto;
  border-radius: 30px;
} */

.chat-id {
  margin: 16px 0;
}

.content {
  display: flex;
  place-content: center;
  background-color: var(--primary);
}

.content-container {
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 100vh;
  border: 2px solid var(--primary);
  background-color: var(--light) !important;
  border-radius: 25px;
}

.content-messages {
  display: flex;
  place-content: center;
  background-color: var(--primary);
  align-items: center !important;
}

.content-messages-container {
  width: 40vw;
  border: 2px solid var(--primary);
  background-color: var(--fire-medium) !important;
  border-radius: 10px;
  /* background-image: url('./assets/fire6.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.chat-main {
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
}

.chat-main ul {
  width: 40vw !important;
  margin: 32px 0;
}

.chat-main li {
  list-style: none;
}

.display-name {
  font-weight: bold;
  margin: 12px !important;
}

.footer {
  height: 64px;
}

.main {
  display: flex;
  flex-direction: column;
}

.google-icon,
.github-icon,
.anonymous-icon {
  width: 24px;
  height: auto;
  margin-left: 6px;
}

.settings-icon {
  width: 24px;
  height: auto;
  padding: 0 !important;
}

.logo {
  width: 16em;
  height: auto;
  margin-top: 2em;
}

.logo-title span {
  text-shadow: 1px 1px 3px var(--dark);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-header,
.message-footer {
  background-color: var(--dark) !important;
  display: flex;
  justify-content: end;
  height: 48px;
  border: 1px solid white;
}

.message-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message-options {
  display: flex;
  justify-items: start !important;
  margin: 0 32px 32px 32px;
  align-self: flex-start;
}

.message-info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.send-message {
  display: flex !important;
  margin: 32px 0 6px 0 !important;
  align-items: center;
}

.sign-in {
  margin: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-out {
  display: flex;
  justify-content: center;
  background-color: var(--primary) !important;
}

.sign-in-with-Google,
.sign-in-with-GitHub,
.sign-in-Anonymously,
.sign-out-button,
.send-button {
  background-color: white !important;
  color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
  font-weight: bold !important;
  margin: 16px 0 !important;
  width: 250px;
  height: 48px;
}

.sign-out-button {
  width: 130px !important;
  margin: 32px 0 !important;
}

.send-button {
  width: 80px;
  margin-left: 12px !important;
  border: 1px solid var(--secondary) !important;
  align-items: center;
}

.settings-button {
  display: inline-flex;
  border: none !important;
  justify-content: end;
}

.sign-in-with-Google:hover,
.sign-in-with-GitHub:hover,
.sign-in-Anonymously:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.send-button:hover,
.sign-out-button:hover {
  background-color: rgba(247, 247, 247) !important;
}

.settings-button:hover {
  background: none !important;
}

.text {
  font-size: 24px;
  margin: 16px 0;
}

.text-header {
  font-size: 16px;
  padding: 16px 0;
}

.text-message {
  width: 50vw;
  border: 1px solid var(--secondary);
  margin: 0 32px 0 16px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
  background-color: white !important;
}

.timestamp {
  font-size: 12px;
  color: var(--secondary);
  margin: 0 6px 0 6px;
}

.user-message {
  margin: 0 12px 12px 12px;
  text-align: start;
}

.user-name {
  display: flex;
  align-items: baseline;
}

.user-photo {
  margin: 12px 12px 12px 32px;
}

.write-text {
  background-color: white !important;
  border-radius: 0 !important;
  width: 28vw !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 100px !important;
  border: none !important;
  text-align: start !important;
}

.css-iajp3t-MuiButtonGroup-root {
  border: none !important;
}

/* --------------------- media queries --------------------- */

@media only screen and (max-width: 1200px) {

  .content-container,
  .content-messages-container {
    width: 60vw;
  }

  .chat-main ul {
    width: 60vw !important;
  }

  img.logo {
    width: 16em;
    margin-top: 2em;
  }

  h1 {
    font-size: 32px;
  }

  .text {
    font-size: 24px;
  }

  .write-text {
    width: 42vw !important;
  }
}

@media only screen and (max-width: 750px) {

  .content-container,
  .content-messages-container {
    width: 100vw;
  }

  /* .avatar {
    width: 40px;
    height: auto;
    border-radius: 20px;
  } */

  .chat-main ul {
    width: 80vw !important;
  }

  img.logo {
    width: 16em;
    margin-top: 2em;
  }

  .sign-in-with-Google,
  .sign-in-with-GitHub {
    font-size: 16px;
    width: 250px;
  }

  .sign-out {
    font-size: 16px;
  }

  .write-text {
    width: 70vw !important;
  }
}

/* ----------------------- keyframes ----------------------- */

.flame {
  position: relative;
  animation: fire 5s ease-in-out infinite;
}

@keyframes fire {
  0% {
    transform: rotate(-0.5deg);
  }

  10% {
    transform: rotate(-1.5deg) scaleX(0.99) scaleY(1.01);
  }

  20% {
    transform: rotate(1.5deg) scaleX(0.98) scaleY(1.02);
  }

  30% {
    transform: rotate(0.5deg) scaleX(0.99) scaleY(1.01);
  }

  40% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(0.5deg) scaleX(0.99) scaleY(1.01);
  }

  60% {
    transform: rotate(1deg) scaleX(1) scaleY(1.02);
  }

  70% {
    transform: rotate(0.5deg);
  }

  80% {
    transform: rotate(-1deg) scaleX(1.02) scaleY(0.98);
  }

  90% {
    transform: rotate(-0.5deg) scaleX(1.01) scaleY(1.01);
  }

  100% {
    transform: rotate(-0.5deg);
  }
}